.navbar {
  position: sticky;
  inset: 0;
  bottom: auto;
  font-size: 1.2rem;
  padding: 0 4%;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
  transition: background-color .4s;
  z-index: 2;
}

.navbar--scrolled {
  background-color: #141414;
}

.navbar__container {
  display: flex;
  align-items: center;
  height: 68px;
}

.navbar__logo {
  display: flex;
}

.navbar__logo img {
  height: 25px;
  margin-right: 25px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 18px;
}

.navbar__link {
  align-items: center;
  color: #e5e5e5;
  display: flex;
  height: 100%;
  position: relative;
  transition: color .4s;
  font-size: 14px;
}

.navbar__link:hover {
  color: #b3b3b3;
}

.navbar__link.active {
  color: #fff;
  font-weight: 500;
  transition: color 0s;
}

.navbar-header {
  display: flex;
  align-items: center;
  height: 68px;
  font-size: 2.5rem;
}
