:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Netflix Sans', sans-serif;
  margin: 0;
}

html {
  font-size: .75vw;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #141414;
  color: #fff;
  overflow-y: scroll;
}

.body {
  width: 100%;
}

#root {
  padding-bottom: 8%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
